<p>Showing 10 results</p>
<br><br>
<% @foods.each do |food| %>
  <p>GTIN/UPC Code: <%= food.code %></p>
  <p>Description: <%= food.description %></p>
  <p>Brand Owner: <%= food.brand %></p>
  <p>Ingredients: <%= food.ingredients %></p>
  <hr>
<% end %>